:host {
    text-align: center;
}

nz-header{
    background-color: #3ba0e9;
}

nz-content {
    background: transparent;
    height: 100%;
}


/**
* Main Layout
*/

.main-layout {
    min-height: 100vh;
}